<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    *ngIf="user$$ | async as user ; else logout"
    (ngSubmit)="onSaveUser(profileForm.value)"
    [formGroup]="profileForm"
  >
    <ion-card>
      <ion-card-header>
        <!--img src="https://picsum.photos/id/113/150/150" /-->
        <div class="label bottom">
          <p>Cambiar</p>
          <img [src]="currentImage" (click)="imageProfile.click()" />
          <input
            hidden
            type="file"
            #imageProfile
            formControlName="photo"
            (change)="handleImage($event)"
          />
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Nombre de usuario</ion-label>
          <ion-input placeholder="Name" formControlName="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Correo electronico</ion-label>
          <ion-input placeholder="Email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Biografía</ion-label>
          <ion-textarea
            placeholder="Email"
            formControlName="biografia"
          ></ion-textarea>
        </ion-item>

        <!--ion-item>
          <ion-label>Correo electronico</ion-label>
          <input matInput placeholder="Email" formControlName="" />
        </ion-item-->
        <div class="mat-dialog-actions">
          <input
            type="submit"
            class="mat-flat-button"
            value="Guardar cambios"
          />
        </div>
        <button (click)="onLogOut()">Cerrar sesión</button>
      </ion-card-content>
    </ion-card>
  </form>
  <ng-template #logout>
    <h1>Vaya!!, parece que no has iniciado sesión, vamos a cambiar eso!!</h1>
    <ion-row class="m-2">
      <ion-col>
        <a routerLink="/login">Ya tengo una cuenta de Physicall Guideness</a>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>
