<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    *ngIf="user$$ | async as user ; else logout"
    (ngSubmit)="onSaveUser(profileForm.value)"
    [formGroup]="profileForm"
  >
    <ion-card>
      <ion-card-header>
        <!--img src="https://picsum.photos/id/113/150/150" /-->
        <div class="label bottom">
          <p id="changePhoto">Cambiar</p>
          <img [src]="currentImage" (click)="imageProfile.click()" />
          <input
            hidden
            type="file"
            #imageProfile
            formControlName="photo"
            (change)="handleImage($event)"
          />
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Nombre de usuario:</ion-label>
          <ion-input placeholder="Name" formControlName="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Correo electronico:</ion-label>
          <ion-input placeholder="Email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Biografía:</ion-label>
          <ion-textarea placeholder="Biografía" formControlName="biografia">
          </ion-textarea>
        </ion-item>
        <div id="sliderContainer" class="d-flex">
          <p class="m-2">
            Visibilidad de los marcadores del mapa (Población de la ciudad)
          </p>
          <ion-range
            id="slider"
            min="0"
            max="100000"
            step="10000"
            snaps="true"
            pin
            color="secondary"
            (ionChange)="updateValue($event)"
          ></ion-range>
        </div>

        <!--ion-item>
          <ion-label>Correo electronico</ion-label>
          <input matInput placeholder="Email" formControlName="" />
        </ion-item-->
        <div>
          <div
            *ngIf="userType=='Guía'"
            id="starsContainer"
            class="col-12"
            style="text-align: center"
          >
            <p>Mi valoración como guía :)</p>
            <span class="fa fa-star m-1" id="1star"></span>
            <span class="fa fa-star m-1" id="2star"></span>
            <span class="fa fa-star m-1" id="3star"></span>
            <span class="fa fa-star m-1" id="4star"></span>
            <span class="fa fa-star m-1" id="5star"></span>
          </div>
          <div class="buttonsContainer">
            <ion-button class="button" type="submit"
              >Guardar cambios</ion-button
            >
            <ion-button class="button" (click)="onLogOut()"
              >Cerrar sesión</ion-button
            >
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </form>

  <div *ngIf="userType =='Viajero'">
    <p class="places">Lugares visitados</p>
    <div class="row m-2 cardContainer">
      <div
        *ngFor="let sitio of userPlaces"
        class="card col-4"
        style="width: 18rem"
      >
        <ion-img
          src="./assets/images/paisaje.jpg"
          class="card-img-top"
          styles="width:100%"
          alt="Paisaje"
        ></ion-img>
        <div class="card-body">
          <h5 class="card-title">{{sitio.name}}</h5>
          <p class="card-text">Visitado el: 9/1/2022</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="userType =='Guía'">
    <p class="places m-2">Lugares asignados como guía</p>
    <div class="row m-2 cardContainer">
      <div *ngIf="userPlaces.length <= 0">
        <p class="places m-2">No estas asignado a ningún lugar :(</p>
      </div>
      <div
        *ngFor="let sitio of userPlaces"
        class="card col-4"
        style="width: 18rem"
      >
        <ion-img
          src="./assets/images/paisaje.jpg"
          class="card-img-top"
          styles="width:100%"
          alt="Paisaje"
        ></ion-img>
        <div class="card-body">
          <h5 class="card-title">{{sitio.name}}</h5>
          <p class="card-text">Visitado el: 9/1/2022</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="userType =='Guía'">
    <p class="m-2 places">
      ¿Necesitas ayuda para ser un buen guía? Haz click en la imagen
    </p>
    <div class="row m-2 photoContainer">
      <a
        class="photoSize"
        href="https://www.educaweb.com/profesion/guia-turistico-212/"
        target="_blank"
        ><ion-img
          src="./assets/images/guiaturistico.png"
          alt="Foto de guía"
        ></ion-img
      ></a>
    </div>
  </div>

  <ng-template #logout>
    <div id="template" class="d-flex">
      <ion-img src="/assets/images/islita.png" alt="Playa"></ion-img>
      <p id="message">
        Vaya, parece que no has iniciado sesión, vamos a cambiar eso!!
      </p>
      <ion-row class="m-2">
        <ion-col>
          <ion-button id="margin-button" routerLink="/login"
            >Iniciar sesión</ion-button
          >
        </ion-col>
      </ion-row>
    </div>
  </ng-template>
</ion-content>
