<ion-header>
  <ion-toolbar>
    <section class="d-flex justify-content-evenly">
      <div class="align-self-center d-flex justify-content-evenly">
        <img id="logo" src="../../assets/icon/favicon.png" alt="Logo" />
        <span class="titulo">
          <h1>Physicall Guideness</h1>
        </span>
      </div>
      <div class="align-self-center" *ngIf="user$ | async as user; else logoutCabecera">
        <button (click)="onLogOut()" type="button" class="btn btn-outline-secondary rounded-pill d-flex"
          title="Cerrar sesión">

          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
            class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
            <path fill-rule="evenodd"
              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
          </svg>
        </button>
      </div>
      <ng-template #logoutCabecera>
        <div class="align-self-center">
          <button routerLink="/login" type="button" class="btn btn-outline-secondary rounded-pill d-flex"
            title="iniciar sesión">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor"
              class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
              <path fill-rule="evenodd"
                d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
            </svg>
          </button>
        </div>
      </ng-template>
    </section>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user$ | async as user; else logout">
    <div class=" mt-5" style="min-width:100%;">
      <div class="btn-toolbar d-flex justify-content-evenly" style="min-width:100%;" role="toolbar">
        <div class="btn-group gap-2 m-auto" role="group">
          <button type="button" class="btn btn-info w-auto text-light" (click)="recuperarMensajes()"
            >General</button>
          <button type="button" class="btn btn-primary w-auto text-light" (click)="getNotificaciones()"
            >Notificaciones</button>
          <button type="button" class="btn btn-secondary w-auto text-light" (click)="getPeticiones()"
            >Peticiones</button>
        </div>
      </div>
    </div>

    <section class="mensajes">
      <ul class="list-group m-5">
        <div *ngIf="user.type=='Guía'" id="guiaItem">
          <li id="mensajeLista" *ngFor="let mensaje of mensajesFiltrados"
            class="list-group-item d-flex justify-content-between align-items-center flex-row">
            <div *ngIf="mensaje.peticion; else notificacion">
              <div *ngIf="mensaje.pendiente; else contestada">
                <span class="badge rounded-pill bg-dark d-flex align-items-center m-2">
                  <span class="fa fa-clock"></span>
                </span>
              </div>
              
              <ng-template #contestada>
                <div *ngIf="mensaje.aceptada; else rechazada">
                  <span class="badge rounded-pill bg-success d-flex align-items-center m-2">
                    <span class="fa fa-check"></span>
                  </span>
                </div>
              </ng-template>
              <ng-template #rechazada>
                <span class="badge rounded-pill bg-danger d-flex align-items-center m-2">
                  <span class="fa fa-times"></span>
                </span>
              </ng-template>
              
            </div>
            <ng-template #notificacion>
              <span class="badge rounded-pill bg-warning d-flex align-items-center m-2">
                <span class="fa fa-bell"></span>
              </span>
            </ng-template>
            <span class="text-wrap" id="textoMensaje">{{mensaje.texto}}</span>
            <span class="text-wrap" id="fechaMensaje"> Recibido: {{mensaje.fecha}}</span>
            <div *ngIf="mensaje.pendiente" id="buttonContainer" class="btn-group gap-2 m-auto">
              <button id="aceptButton" class="m-2 btn bg-success text-light" (click)="onAcept(mensaje)">Aceptar</button>
              <button id="dismissButton" class="m-2 btn bg-danger text-light" (click)="onDismiss(mensaje)">Rechazar</button>
            </div>
          </li>
        </div>
        <div *ngIf="user.type=='Viajero'" id="viajeroItem">
        <li id="mensajeLista" *ngFor="let mensaje of mensajesFiltrados"
          class="list-group-item d-flex justify-content-between align-items-center flex-row">
          <div *ngIf="mensaje.peticion; else notificacion">
            <div *ngIf="mensaje.pendiente; else contestada">
              <span class="badge rounded-pill bg-dark d-flex align-items-center m-2">
                <span class="fa fa-clock"></span>
              </span>
            </div>
            
            <ng-template #contestada>
              <div *ngIf="mensaje.aceptada; else rechazada">
                <span class="badge rounded-pill bg-success d-flex align-items-center m-2">
                  <span class="fa fa-check"></span>
                </span>
              </div>
            </ng-template>
            <ng-template #rechazada>
              <span class="badge rounded-pill bg-danger d-flex align-items-center m-2">
                <span class="fa fa-times"></span>
              </span>
            </ng-template>
          </div>
          <ng-template #notificacion>
            <span class="badge rounded-pill bg-warning d-flex align-items-center m-2">
              <span class="fa fa-bell"></span>
            </span>
          </ng-template>
          <span class="text-wrap" id="textoMensaje">{{mensaje.texto}}</span>
          <span class="text-wrap" id="fechaMensaje"> Recibido: {{mensaje.fecha}}</span>
        </li>
      </div>
      </ul>
    </section>
  </div>
</ion-content>

<ng-template #logout>
  <div id="template" class="d-flex">
    <ion-img src="/assets/images/islita.png" alt="Playa"></ion-img>
    <p id="message">
      Vaya, parece que no has iniciado sesión, vamos a cambiar eso!!
    </p>
    <ion-row class="m-2">
      <ion-col>
        <ion-button id="margin-button" routerLink="/login">Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ng-template>