<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="userLogged$ |async as user; else logout">
    <ng-container *ngIf="userGuia$ | async as user; else notFound">
      <ng-container
        *ngIf="user.type =='Guía'; then authorized else unauthorized"
      >
      </ng-container>
      <ng-template #authorized
        ><ion-card>
          <ion-card-header>
            <!--img src="https://picsum.photos/id/113/150/150" /-->
            <div class="label bottom">
              <img id="profilePhoto" [src]="user.photo" />
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label class="labelSize">Nombre de usuario:</ion-label>
            <p class="paragraphSize">{{user.username}}</p>

            <ion-label class="labelSize">Correo electronico:</ion-label>
            <p class="paragraphSize">{{user.email}}</p>

            <ion-label class="labelSize">Biografía:</ion-label>
            <p class="paragraphSize">{{user.biografia}}</p>

            <div id="starsContainer" class="col-12" style="text-align: center">
              <p>Valoración como guía :)</p>
              <span class="fa fa-star m-1" id="1star"></span>
              <span class="fa fa-star m-1" id="2star"></span>
              <span class="fa fa-star m-1" id="3star"></span>
              <span class="fa fa-star m-1" id="4star"></span>
              <span class="fa fa-star m-1" id="5star"></span>
            </div>
          </ion-card-content>
        </ion-card>
        <div class="d-flex m-4" style="justify-content: center">
          <ion-button class="button" (click)="onComent()"
            >Deja un comentario al guía</ion-button
          >
          <ion-button class="button" routerLink="/home"
            >Volver al inicio</ion-button
          >
        </div>
        <div>
          <p class="places m-2">Lugares asignados como guía</p>
          <div class="row m-2 cardContainer">
            <ng-container *ngIf="userPlaces.length <= 0">
              <p class="places m-2">No está asignado a ningún lugar :(</p>
            </ng-container>
            <ng-container
              *ngFor="let sitio of userPlaces"
              class="card col-4"
              style="width: 18rem"
            >
              <ion-img
                src="./assets/images/paisaje.jpg"
                class="card-img-top"
                styles="width:100%"
                alt="Paisaje"
              ></ion-img>
              <div class="card-body">
                <h4 class="card-title">{{sitio.descripcion}}</h4>
                <p class="card-text">{{sitio.ciudad}} ({{sitio.pais}})</p>
              </div>
            </ng-container>
          </div>
        </div>
        <div>
          <p class="m-2 places">
            ¿Necesitas ayuda para ser un buen guía? Haz click en la imagen
          </p>
          <div class="row m-2 photoContainer">
            <a
              class="photoSize"
              href="https://www.educaweb.com/profesion/guia-turistico-212/"
              target="_blank"
              ><ion-img
                src="./assets/images/guiaturistico.png"
                alt="Foto de guía"
              ></ion-img
            ></a>
          </div></div
      ></ng-template>
    </ng-container>
  </ng-container>
  <ng-template #notFound>
    <div class="d-flex" id="notFound">
      <img src="./assets/images/notFound2.jpg" alt="" />
    </div>
    <div class="d-flex m-2" style="justify-content: center">
      <ion-button routerLink="/home">Volver al inicio</ion-button>
    </div>
  </ng-template>
  <ng-template #unauthorized>
    <div class="d-flex" id="unauthorized">
      <img src="./assets/images/unauthorized.jpg" id="photo" alt="" />
    </div>
    <div class="d-flex m-2" style="justify-content: center">
      <ion-button routerLink="/home">Volver al inicio</ion-button>
    </div>
  </ng-template>
  <ng-template #logout>
    <div id="template" class="d-flex">
      <ion-img src="/assets/images/islita.png" alt="Playa"></ion-img>
      <p id="message">
        Vaya, parece que no has iniciado sesión, vamos a cambiar eso!!
      </p>
      <ion-row class="m-2">
        <ion-col>
          <ion-button id="margin-button" routerLink="/login"
            >Iniciar sesión</ion-button
          >
        </ion-col>
      </ion-row>
    </div>
  </ng-template>
</ion-content>
