<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="userGuia$ | async as user; else notFound">
    <ion-card>
      <ion-card-header>
        <!--img src="https://picsum.photos/id/113/150/150" /-->
        <div class="label bottom">
          <img [src]="user.photo" />
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Nombre de usuario:</ion-label>
          <p>{{user.username}}</p>
        </ion-item>

        <ion-item>
          <ion-label>Correo electronico:</ion-label>
          <p>{{user.email}}</p>
        </ion-item>

        <ion-item>
          <ion-label>Biografía:</ion-label>
          <p>{{user.biografia}}</p>
        </ion-item>

        <div id="starsContainer" class="col-12" style="text-align: center">
          <p>Valoración como guía :)</p>
          <span class="fa fa-star m-1" id="1star"></span>
          <span class="fa fa-star m-1" id="2star"></span>
          <span class="fa fa-star m-1" id="3star"></span>
          <span class="fa fa-star m-1" id="4star"></span>
          <span class="fa fa-star m-1" id="5star"></span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #notFound>
    <div class="d-flex" id="notFound">
      <img src="./assets/images/notFound2.jpg" alt=""  />
    </div>
  </ng-template>
</ion-content>
