<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button page="home" href="home">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button page="perfil" href="perfil">
      <ion-icon name="square"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    <ion-tab-button page="mensages" href="mensages">
      <ion-icon name="send"></ion-icon>
      <ion-label>Mensages</ion-label>
    </ion-tab-button>
    <!--ion-tab-button page="register" href="register">
      <ion-icon name="send"></ion-icon>
      <ion-label>Registrarse</ion-label>
    </ion-tab-button-->
    <ion-tab-button page="login" href="login">
      <ion-icon name="send"></ion-icon>
      <ion-label>Iniciar Sesión</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
