* {
    font-family: cursive;
}

#logo {
    max-width: 100px;
    max-height: 100px;
}

.titulo {}

// Buscador
.wrapper {
    background: #49a4f5;
    padding: 2em 2em;
    max-width: 900px;
}

.wrapper .search-input {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 1em;
}

// Mapa página principal
.map-container {
    background-color: red;
    position: relative;
    height: 500px;
    
}

.map-frame {
    background-color: green;
    border: 2px solid black;
    height: 100%;
}

#map {
    background-color: black;
    height: 100%;
}