* {
    font-family: cursive;
}

#logo {
    max-width: 100px;
    max-height: 100px;
}

.imgLogout{
    max-width: 20vh;
    max-height: 20vh;
}

// Buscador
.wrapper {
    background: #49a4f5;
    padding: 2em 2em;
    max-width: 900px;
}

.wrapper .search-input {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 1em;
}

// Mapa página principal
.map-container {
    position: relative;
}

.map-frame {
    border: 2px solid black;
}

#map {
    background-color: black;
    height: 80vh;
}